annotated-types==0.6.0
astroid==3.1.0
blinker==1.8.2
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
filelock==3.14.0
Flask==3.0.3
Flask-Cors==4.0.1
greenlet==3.0.3
identify==2.5.36
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mock-alchemy==0.2.6
nodeenv==1.8.0
packaging==24.0
platformdirs==4.2.1
pluggy==1.5.0
pre-commit==3.7.1
pydantic==2.7.1
pydantic_core==2.18.2
pylint==3.1.0
pytest==8.2.0
pytest-mock==3.14.0
PyYAML==6.0.1
setuptools==69.5.1
SQLAlchemy==2.0.30
tomlkit==0.12.5
typing_extensions==4.11.0
virtualenv==20.26.1
Werkzeug==3.0.3
